<!DOCTYPE html>
<html>
<head>
   @using CML.Controllers;
    <title>CML Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="@Url.Content("~/Content/kendo/2019.1.220/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2019.1.220/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2019.1.220/kendo.blueopal.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2019.1.220/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2019.1.220/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2019.1.220/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2019.1.220/kendo.aspnetmvc.min.js")"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    @* <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
  
    <div class="container-fluid">
        <!--open container-->
        <div class="row row-offcanvas row-offcanvas-left">
            <!--open row-->
            @*<div id="nav-section" class="col-xs-12 column" style="height:100%;">*@
            <div id="nav-section" class="col-xs-12 column" >
                <!--open nav column-->
                <div class="navbar-default">
                    @*<button id="toggle-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                </div>
                <h1 id="dash-logo" class="center-block">CML Requests Management</h1>
                <div class="collapse navbar-collapse" id="sidebar-nav" role="navigation">
                    <ul class="nav">
                        <li id="CMLRequests"><a href="@(Url.Action("Index","Home"))"><span class="glyphicon-home"></span>Home</a></li>
                        <li id="CMLRequests"><a href="@(Url.Action("Index","Request"))"><span class="glyphicon-home"></span>CML Requests</a></li>
                        @* <li id="CMLRequests"><a href="@(Url.Action("CmlIndex","Cml"))"><span class="icon icon-chart-column"></span>CML Requests</a></li>*@
                        <li id="Tests"><a href="@(Url.Action("Index", "Test"))"><span class="glyphicon-home"></span>Tests</a></li>
                        <li id="Approvals"><a href="@(Url.Action("Index", "Approval"))"><span class="glyphicon-home"></span>Approvals</a></li>
                        <li id="Dashboard"><a href="@(Url.Action("Index","Dash"))"><span class="glyphicon-home"></span>Dashboard</a></li>
                        <li id="Admin"><a href="@(Url.Action("Index","Admin"))"><span class="glyphicon-home"></span>Admin</a></li>
                    </ul>

                </div>
            </div><!--close left column-->
            <div id="main-section" class="col-xs-12 column">
                <div class="Dash-Bar">
                    @* <span class="border border-primary">1</span>
                <span class="border border-secondary">2</span>
                <span class="border border-success">3</span>
                <span class="border border-danger">4</span>
                <span class="border border-warning">5</span>
                <span class="border border-info">6</span>
                <span class="border border-light">7</span>
                <span class="border border-dark">8</span>
                <span class="border border-white">9</span>*@


                </div>
                @if ( TempData["UserMessage"] != null )
                {
                    var message = ( MessageVM )TempData["UserMessage"];
                    <div id="msg" class="alert @message.CssClassName">
                        <strong>@message.Title</strong>
                        @message.Message
                    </div>
                }

                <!--open main column-->
                @RenderBody()
            </div><!--close main column-->
        </div><!--close row-->
    </div><!--close container-->

    <script>
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });

            $("#msg").fadeOut(7000);
        });
    </script>
</body>
</html>
